.timeline-container {
  padding: 2% 10%;
  max-width: 1000px;
  margin: 0 auto;
}

.date{
    font-size: 28px;
    width: 37%;
}

.dot{
   border-radius: 50%;
    border: 7px solid white;
    height: 7px;
    width: 7px;
    position: relative;
    right: -40.5%;
    top: 40px;

}

.timeline{
  position: relative;
  padding: 0px;
  margin: 0 auto;
  border-left: 3px solid #fff;
}

.timeline-heading{
    font-size: 28px;
}

.timeline-subheading{
    font-size: 20px;
    font-style: italic;
}

.timeline-description{
    font-size: 16px;
    font-style: italic;
    width: 24em;

}

.timeline-item{
    width: 55%;
}

.left{
    padding-right: 20px;
}
